@using Hyper.Core.Domain.Appointments;
@model AppointmentEditModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-lg-12">
        <fieldset>
            <form asp-action="Edit" asp-antiforgery="true">
                <input asp-for="Id" type="hidden" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-2">
                    <label asp-for="StartDate" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        <input type="text" asp-for="StartDate" autocomplete="off" class="form-control datepicker-basic" />
                        <span asp-validation-for="StartDate"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label asp-for="StartTime" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        <input type="time" asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label asp-for="DurationAsMinute" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        @*<input asp-for="DurationAsMinute" class="form-control" />*@
                        <select asp-for="DurationAsMinute" asp-items="Model.AvailableDurations" class="form-select"></select>
                        <span asp-validation-for="DurationAsMinute"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label asp-for="ProductId" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        <select asp-for="ProductId" asp-items="Model.AvailableProducts" class="form-select"></select>
                        <span asp-validation-for="ProductId"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label asp-for="DiscountTotal" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        <input asp-for="DiscountTotal" class="form-control" />
                        <span asp-validation-for="DiscountTotal"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label asp-for="TotalPrice" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        <span class="py-1 px-2 d-block rounded" style="background-color:@Model.Color"><span class="text-white">@Model.TotalPrice</span></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label asp-for="AssingedPatientText" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        <span class="py-1 px-2 d-block rounded" style="background-color:@Model.Color">
                            <span class="text-white">@Model.AssingedPatientText </span>
                        </span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label asp-for="AssignedEmployeeId" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        @if (Model.IsStoreAdministrator)
                        {
                            <select asp-for="AssignedEmployeeId" asp-items="Model.AvailableEmployees" class="form-select"></select>
                            <span asp-validation-for="AssignedEmployeeId"></span>
                        }
                        else
                        {
                            var employee = Model.AvailableEmployees.FirstOrDefault(x => x.Value == Model.AssignedEmployeeId.ToString());
                            <span class="py-1 px-2 d-block rounded" style="background-color:@Model.Color"><span class="text-white">@employee.Text</span></span>
                        }
                    </div>
                </div>
                 
                <div class="row mb-2">
                    <label asp-for="AppointmentStatusId" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        <select asp-for="AppointmentStatusId" asp-items="Model.AvailableAppointmentStatuses" class="form-select"></select>
                        <span asp-validation-for="AppointmentStatusId"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label asp-for="PaymentStatusId" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        @{
                            foreach (var paymentStatus in Model.AvailablePaymentStatuses)
                            {
                                @if (paymentStatus.Value == Model.PaymentStatusId.ToString())
                                {
                                    <div class="form-check form-check-inline mt-2">
                                        <input checked type="radio" id="paymentStatus@(paymentStatus.Value)" name="PaymentStatusId" value="@paymentStatus.Value" class="form-check-input form-check-input-primary">
                                        <label class="form-check-label" for="paymentStatus@(paymentStatus.Value)">@paymentStatus.Text</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check form-check-inline  mt-2">
                                        <input type="radio" id="paymentStatus@(paymentStatus.Value)" name="PaymentStatusId" value="@paymentStatus.Value" class="form-check-input form-check-input-primary">
                                        <label class="form-check-label" for="paymentStatus@(paymentStatus.Value)">@paymentStatus.Text</label>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="PaymentTypeId" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        @{
                            foreach (var paymentType in Model.AvailablePaymentTypes)
                            {
                                @if (paymentType.Value == Model.PaymentTypeId.ToString())
                                {
                                    <div class="form-check form-check-inline mt-2">
                                        <input checked type="radio" id="paymentTypeId@(paymentType.Value)" name="PaymentTypeId" value="@paymentType.Value" class="form-check-input form-check-input-primary">
                                        <label class="form-check-label" for="paymentTypeId@(paymentType.Value)">@paymentType.Text</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check form-check-inline  mt-2">
                                        <input type="radio" id="paymentTypeId@(paymentType.Value)" name="PaymentTypeId" value="@paymentType.Value" class="form-check-input form-check-input-primary">
                                        <label class="form-check-label" for="paymentTypeId@(paymentType.Value)">@paymentType.Text</label>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>



                <div class="row mb-2">
                    <label asp-for="Note" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        <textarea asp-for="Note" class="form-control"></textarea>
                        <span asp-validation-for="Note"></span>
                    </div>
                </div>


                @*<div class="row mb-2">
                <label asp-for="PaymentTypeId" class="col-lg-3 col-form-label"></label>
                <div class="col-lg-9">
                <select asp-for="PaymentTypeId" asp-items="Model.AvailablePaymentTypes" class="form-select"></select>
                <span asp-validation-for="PaymentTypeId"></span>
                </div>
                </div>
                *@


                @*  <div class="row mb-2">
                <label asp-for="PaymentStatusId" class="col-lg-3 col-form-label"></label>
                <div class="col-lg-9">
                <select asp-for="PaymentStatusId" asp-items="Model.AvailablePaymentStatuses" class="form-select"></select>
                <span asp-validation-for="PaymentStatusId"></span>
                </div>
                </div>*@

                @* <div class="row mb-2">
                <label asp-for="AppointmentStatusId" class="col-lg-3 col-form-label"></label>
                <div class="col-lg-9">
                @{
                foreach (var appointmentStatus in Model.AvailableAppointmentStatuses)
                {
                bool isChecked = appointmentStatus.Value == Model.AppointmentStatusId.ToString();
                <label class="form-check mb-2">
                @if (isChecked)
                {
                <input checked type="radio" asp-for="AppointmentStatusId" value="@appointmentStatus.Value" class="form-check-input form-check-input-primary">
                }
                else
                {
                <input type="radio" asp-for="AppointmentStatusId" value="@appointmentStatus.Value" class="form-check-input form-check-input-primary">
                }
                <span class="form-check-label">@appointmentStatus.Text</span>
                </label>
                }
                }
                </div>
                </div>*@

                <div class="text-end">
                    <button type="submit" name="save" value="save" class="btn btn-primary">
                        Kaydet <i class="ph-paper-plane-tilt ms-2"></i>
                    </button>
                </div>
            </form>
        </fieldset>
    </div>
</div>